<app-header></app-header>
<section class="wf100 p100 inner-header">
  <div class="container">
    <h1> Notre Team</h1>

  </div>
</section>
<!--Inner Header End-->
<!--Causes Start-->
<section class="wf100 p80 team">
  <div class="team-grid">
    <div class="container">
      <div class="row">
        <!--Team Box Start-->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="team-box">
            <img src="assets/images/h3team1.jpg" alt="" />
            <div class="team-info">
              <h3>Chams eddine nacer</h3>
              <p>Full stack web developer</p>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Team Box Start-->
        <!--Team Box Start-->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="team-box">
            <img src="assets/images/h3team2.jpg" alt="" />
            <div class="team-info">
              <h3>Hadil Hammami </h3>
              <p>Full stack Web developer</p>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Team Box Start-->
        <!--Team Box Start-->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="team-box">
            <img src="assets/images/h3team3.jpg" alt="" />
            <div class="team-info">
              <h3>Cherif khalifa</h3>
              <p>Data scientist</p>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Team Box Start-->
        <!--Team Box Start-->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="team-box">
            <img src="assets/images/h3team4.jpg" alt="" />
            <div class="team-info">
              <h3>Khouloud ghabi</h3>
              <p>UIX designer</p>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Team Box Start-->
        <!--Team Box Start-->
        <div class="col-lg-4 col-md-6 col-sm-6" >
          <div class="team-box" >
            <img src="assets/images/h3team5.jpg" alt="" />
            <div class="team-info">
              <h3>Rabie houssaini</h3>
              <p>Mobile developer</p>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
