
<footer class="h3footer wf100">
  <div class="container">
    <div class="row">
      <!--Footer Widget Start-->
      <div class="col-md-4 col-sm-6">
        <div class="footer-widget">
          <h3>About Firma</h3>

          <p>
            Offre la détection des maladies des plantes, la gestion de l'eau, la
            cartographie de la pollution et l'accès aux produits 100% bio, elle
            leur permet de maximiser leurs rendements tout en minimisant leur
            impact sur l'environnement et en répondant à la demande croissante
            de produits durables.
          </p>
        </div>
      </div>
      <!--Footer Widget End-->
      <!--Footer Widget Start-->
      <div class="col-md-4 col-sm-6">
        <div class="footer-widget">
          <h3>Notre Services</h3>
          <ul class="quick-links">
            <li><a href="#">Le Recyclage</a></li>
            <li><a href="#">La Détection des maladies des plantes</a></li>
            <li><a href="#">Le Gestion de l'eau </a></li>
            <li><a href="#">La Détection de sol agriculture</a></li>
            <li><a href="#">Le ventes des produits 100% Bio</a></li>
            <li><a href="#">La prévision météo </a></li>
          </ul>
        </div>
      </div>
      <!--Footer Widget End-->
      <!--Footer Widget Start-->
      <div class="col-md-4 col-sm-12">
        <div class="footer-widget">
          <h3>Contactez Nous</h3>
          <div class="newsletter">
            <ul>
              <li>
                <input type="text" placeholder="Votre Nom" />
              </li>
              <li>
                <input type="text" placeholder="Votre Email" />
              </li>
              <li>
                <input type="submit" value="Subscribe " />
              </li>
            </ul>
          </div>
          <div class="footer-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <!--Footer Widget End-->
    </div>
    <div class="row footer-copyr">
      <div class="col-md-4 col-sm-4">
        <img src="assets/images/firmaaaa.jpg" alt="" />
      </div>

    </div>
  </div>
</footer>
