<header class="header-style-2" style="background-color:  #48BE;">
  <nav class="navbar navbar-expand-lg" style="background-color:  #48BE;">
    <a class="navbar-brand" href=""
      ><img src="assets/images/firmaaaa.jpg" alt="test"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            role="button"

          >
            Home
          </a>
        </li>


        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/team"
            role="button"

          >
            Team
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/shop"
            role="button"

          >
          Shop
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/shop">Shop</a>

            </li>
            <li>
              <a href="/team">Team</a>
            </li>


          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="contact-one.html"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Contact
          </a>
        </li>
      </ul>
      <ul class="topnav-right">
        <li>
          <a class="mdonate" href="donation.html"
            ><span>Make a Donation</span></a
          >
        </li>
        <li>
          <a class="search-icon" href="#search">
            <i class="fas fa-search"></i>
          </a>
        </li>
        <li class="dropdown">
          <a
            class="cart-icon"
            href="#"
            role="button"
            id="cartdropdown"
            data-toggle="dropdown"
          >
            <i class="fas fa-shopping-cart"></i
          ></a>
          <div class="dropdown-menu cart-box" aria-labelledby="cartdropdown">
            Recently added item(s)
            <ul class="list">
              <li class="item">
                <a href="#" class="preview-image"
                  ><img class="preview" src="images/pro.jpg" alt=""
                /></a>
                <div class="description">
                  <a href="#">Sample Course</a>
                  <strong class="price">1 x $44.95</strong>
                </div>
              </li>
              <li class="item">
                <a href="#" class="preview-image"
                  ><img class="preview" src="images/pro.jpg" alt=""
                /></a>
                <div class="description">
                  <a href="#">Sample Course</a>
                  <strong class="price">1 x $44.95</strong>
                </div>
              </li>
            </ul>
            <div class="total">Total: <strong>$44.95</strong></div>
            <div class="view-link">
              <a href="#">Proceed to Checkout</a> <a href="#">View cart </a>
            </div>
          </div>
        </li>
        <li class="login-reg">
          <a href="my-account.html">Login</a> |
          <a href="my-account.html">Signup</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="search">
  <button type="button" class="close">×</button>
  <form class="search-overlay-form">
    <input type="search" value="" placeholder="type keyword(s) here" />
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>
