
<section class="wf100 p100 inner-header">
  <div class="container">
     <h1>Détecter votre sol agriculture</h1>

  </div>
</section>

<section class="contact-page wf100 p80">
  <div class="container">
     <div class="row">
        <div class="col-md-6">



        </div>
        <div >
           <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11418.310112375979!2d-74.00986187433132!3d40.710981182716246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2s!4v1540972202179"></iframe>
           </div>
        </div>
     </div>
  </div>
  <div class="container contact-info">
     <div class="row">
        <div class="col-md-12">
           <h3>Résultat de détection</h3>
        </div>
                <div class="col-md-4">
           <div class="c-info">
              <h6>type de sol:</h6>
              <p> test </p>
           </div>
        </div>

        <div class="col-md-4">
           <div class="c-info">
              <h6>Quantité d'eau nécessaire</h6>
              <p>3l</p>
           </div>
        </div>

        <div class="col-md-4">
          <div class="c-info">
             <h6>Quantité d'eau nécessaire</h6>
             <p>3l</p>
          </div>
       </div>
       <div class="col-md-4">
        <div class="c-info">
           <h6>Quantité d'eau nécessaire</h6>
           <p>3l</p>
        </div>
     </div>
        <div class="col-md-4">
           <div class="c-info">
              <h6>type de plantes</h6>
              <p>tomato</p>
           </div>
        </div>
     </div>
  </div>
</section>

<app-footer></app-footer>
